In [1]:
import pandas as pd
from tqdm.auto import tqdm

In [2]:
url='https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet'
url2='https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv'

In [4]:
df=pd.read_parquet(url)
df2=pd.read_csv(url2)

In [5]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.2,...,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.0
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.2,...,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.0
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.5,...,0.5,5.00,0.0,NaN,1.0,21.00,1.0,1.0,0.00,0.0
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.7,...,0.5,0.50,0.0,NaN,1.0,27.70,1.0,1.0,0.00,0.0
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.4,...,1.5,1.00,0.0,NaN,1.0,24.65,1.0,1.0,2.75,0.0

In [22]:
df['lpep_dropoff_datetime']

0       2025-11-01 00:41:39
1       2025-11-01 00:24:27
2       2025-11-01 01:15:24
3       2025-11-01 00:24:53
4       2025-11-01 00:19:38
                ...
46907   2025-11-30 20:14:28
46908   2025-11-30 19:46:00
46909   2025-11-30 22:17:55
46910   2025-11-30 21:15:00
46911   2025-11-30 23:42:00
Name: lpep_dropoff_datetime, Length: 46912, dtype: datetime64[us]

In [6]:
df2.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [8]:
len(df)

46912

In [9]:
len(df2)

265

In [10]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [18]:
# iterate through the data
import pyarrow.parquet as pq
import fsspec

# create table in postgres
df.head(n=0).to_sql(name='green_tripdata', con=engine, if_exists='replace')

# Use fsspec to open the remote file
with fsspec.open(url, mode='rb') as f:
    parquet_file = pq.ParquetFile(f)
    
    # Now you can iterate in chunks as planned
    for batch in tqdm(parquet_file.iter_batches(batch_size=10000)):
        df_chunk = batch.to_pandas()
        df_chunk.to_sql(
            name="green_tripdata",
            con=engine,
            if_exists="append"
        )
        print(f"Processed chunk with {len(df_chunk)} rows")

0it [00:00, ?it/s]

Processed chunk with 10000 rows
Processed chunk with 10000 rows
Processed chunk with 10000 rows
Processed chunk with 10000 rows
Processed chunk with 6912 rows

In [20]:
df2.head(n=0).to_sql(name='taxi_zone_lookup', con=engine, if_exists='replace')

# data small insert all
df2.to_sql(
    name="taxi_zone_lookup",
    con=engine,
    if_exists="append"
)

265